body {
  text-align: center;
  font-family: Roboto;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* color: rgba(235, 235, 235, 1); */
  background:url("https://www.toptal.com/designers/subtlepatterns/patterns/qbkls.png") rgba(235, 235, 235, 1);
}


.title {
  text-align: center;
}

header {
  width: 100%;
  /* min-height: 48px; */
  /* margin: 0; */
  color: rgba(235, 175, 35, 1);
  background: rgba(32, 34, 36, 0.75);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 1;
}

.logo {
  max-height: 48px;
  /* float: left; */
  /* margin: 1em 3px 1em 1em; */
}

header .title {
  /* padding-top: 0.66em; */
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  flex: 2;
}

nav {
  width: 100%;
  order: 0;
  /* background-color: rgba(32, 34, 36, 1); */
  /* padding: 1em 0 1em 0; */
  /* z-index: 0; */
  flex: 4;
}

.nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-item {
  margin: 0.5rem;
  text-transform: uppercase;
}

a:link {
  text-decoration: none;
  color: rgba(235, 235, 235, 1);
}

a:visited {
  color: rgba(175, 175, 175, 1);
}

a:hover {
  color: rgba(235, 175, 35, 1);
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
}

#professional {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  /* box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.26); */
}

#intro {
  padding: 2rem;
  color: rgba(32, 34, 36, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro p {
  width: 65vw;
}

#featured-work {
  /* padding: 1em 0 1em 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(32, 34, 36, 1); */
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 100%;
}

.projects {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects a {
  /* flex: 3; */
  border-radius: 0.5rem;
}

.project-img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  transition: 200ms ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.project-img:hover {
  box-shadow: none;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
}

.project-descriptions {
  flex: 1;
  text-align: left;
  /* padding: 1em; */
  margin: 1rem;
}

.project-title {
  font-weight: normal;
  text-align: left;
}

.project1 {
  order: 0;
}

.project2 {
  order: 1;
}

.project3 {
  order: 2;
}

#personal {
  text-align: left;
  padding: 1em;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-bottom: none;
}

#biography {
  /* text-align: center; */
}

#biography div {
  margin: auto;
  width: 65vw;
}

.profile-pic {
  max-width: 33%;
  min-width: 96px;
  margin: 0em 0.75em 0.5em -1em;
  float: left;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  shape-outside: circle();
}

footer {
  width: 100%;
  background-color: rgba(32, 34, 36, 0.75);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.26);

}

footer h3 {
  text-transform: uppercase;
}

#connect {
  color: rgba(235, 235, 235, 1);
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link-item {
  /* display: inline-block; */
  /* width: 49.5%; */
  text-transform: uppercase;
}

#watermark {
  color: rgba(235, 175, 35, 1);
}

@media screen and (min-width: 801px) {
  .projects-container {
    width: 80%;
  }
  /* .projects {
    flex-direction: row;
  } */

  .project-descriptions {
    order: 0;
    min-width: 25px;
  }

  .project-img {
    flex: 1;
    border-radius: 0.5rem;
  }

}

@media screen and (min-width: 1001px) {
  main {
    max-width: 80vw;
    margin: auto;
  }

  #intro {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  #professional{
    /* order: 1; */
    /* box-shadow: none; */
    text-align: left;
    flex: 1;
  }

  #personal {
    /* order: 0; */
    /* max-width: 17%; */
    /* box-shadow: inset -5px 0 5px rgba(0, 0, 0, 0.46); */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: all 200ms ease-in-out;
  }

  /* #intro {
    border-bottom-right-radius: 10px;
  } */
}
