body {
  text-align: center;
  font-family: lucida grande;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* color: rgba(235, 235, 235, 1); */
  background:url("https://www.toptal.com/designers/subtlepatterns/patterns/qbkls.png") rgba(235, 235, 235, 1);
}


.title {
  /* text-align: center; */
}

header {
  width: 100%;
  /* min-height: 48px; */
  /* margin: 0; */
  color: rgba(235, 175, 35, 1);
  background: rgb(218, 218, 218, 0.7);
  /* background: rgba(0, 0, 0, 0.75); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 1;
}

.logo {
  max-height: 48px;
  /* float: left; */
  /* margin: 1em 3px 1em 1em; */
}

header .title {
  /* padding-top: 0.66em; */
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  flex: 2;
}

nav {
  width: 100%;
  order: 0;
  /* background-color: rgba(32, 34, 36, 1); */
  /* padding: 1em 0 1em 0; */
  /* z-index: 0; */
  flex: 4;
}

.nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-item {
  margin: 0.5rem;
  text-transform: uppercase;
}

a:link {
  color: rgba(35, 35, 35, 1);
  padding: 0.2rem;
  transition: 150ms ease-in-out;
}

a:visited {
  color: rgba(75, 75, 75, 1);
}

a:hover,
a:focus {
  text-decoration: none;
  color: hsl(49, 100%, 55%);
  background: rgba(0, 0, 0, 0.36);
  border-radius: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  /* margin: 0; */
  width: 100%;
}

#professional {
  width: 100%;
  /* box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.26); */
}

#intro {
  padding: 2rem;
  color: rgba(32, 34, 36, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro p {
  width: 65vw;
}

.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vmin;
  width: 100%;
}

.event-tile {
  margin: 1vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
/* card layout for projects */
  border: 1px solid black;
  /* background-color: rgba(0, 0, 0, 0.5); */
  overflow: hidden;
  transition: 200ms all ease;
  background: rgba(0, 0, 0, 0.23)  
}

.event-tile:hover,
.event-tile:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.event-description {
  /* flex: 1; */
  /* text-align: left; */
  padding: 0.5rem;
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-tile img {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  transition: 200ms ease-in-out;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); */
  /* border-bottom-left-radius: 50%; */
  /* border-bottom-right-radius: 50%; */
}
#featured-work {
  /* padding: 1em 0 1em 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  /* background-color: rgba(32, 34, 36, 1); */
  /* border: 1px solid black;
  border-radius: 0.5rem; */
}

#other-projects {
  /* padding: 1em 0 1em 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  /* background-color: rgba(32, 34, 36, 1); */
  /* border: 1px solid black;
  border-radius: 0.5rem; */
}

#other-projects .projects-container{
  display: flex;
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: none;
  margin: 1rem 0;
  height: 25vh;
}

#other-projects .projects{
  /* overflow-y: none; */
  /* margin: 0.5rem; */
  height: 25vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  transition: 200ms ease-in-out;
  border-radius: 0;
}

/* #other-projects .projects:first-child{
  border-left: none;
}

#other-projects .projects:last-child{
  border-right: none;
} */

#other-projects .projects:hover,
#other-projects .projects:focus {
  flex: 4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}


.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vmin;
  width: 100%;
}

.projects {
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
/* card layout for projects */
  border: 1px solid black;
  /* background-color: rgba(0, 0, 0, 0.5); */
  overflow: hidden;
  transition: 200ms all ease;
  background: rgba(0, 0, 0, 0.23)
}

.projects:hover,
.projects:focus {
  background-color: rgba(0, 0, 0, 0.1);
  /* border: 1px solid black; */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); */
}

.projects a {
  /* flex: 3; */
  /* border-radius: 0.5rem; */
  /* overflow: none; */
}

.project-img {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  transition: 200ms ease-in-out;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); */
  border-radius: 0.5rem;
  /* border-bottom-left-radius: 50%; */
  /* border-bottom-right-radius: 50%; */
}

.project-img:hover,
.project-img:focus {
  /* box-shadow: none; */
  /* border: 1px solid black; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  /* border-radius: 0; */
  /* border-bottom-left-radius: 1rem; */
  /* border-bottom-right-radius: 1rem; */
  /* background-color: rgba(0,0,0,0.45); */
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
}

.project-descriptions {
  /* flex: 1; */
  /* text-align: left; */
  padding: 0.5rem;
  height: 20vh;
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.project-descriptions ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.project-descriptions ul li {
  margin: 1vmin;
  position: fixed;
  transform: translateY(10000px);
  opacity: 0;
  transition: transform 310ms ease, opacity 300ms ease;
  /* height: 1px; */
}

.projects:hover ul li,
.projects:focus ul li {
  position: relative;
  transform: translateY(0);
  opacity: 1;
  /* height: auto; */
}

.project-descriptions div{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.project-descriptions div p {
  margin: 1vmin;
  position: fixed;
  transform: translateY(10000px);
  opacity: 0;
  transition: transform 310ms ease, opacity 300ms ease;
  /* height: 1px; */
}
.projects:hover div p,
.projects:focus div p {
  position: relative;
  transform: translateY(0);
  opacity: 1;
  /* height: auto; */
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.project1 {
  order: 0;
}

.project2 {
  order: 1;
}

.project3 {
  order: 2;
}

#personal {
  text-align: left;
  padding: 1em;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-bottom: none;
}

#biography {
  /* text-align: center; */
}

#biography div {
  margin: auto;
  width: 65vw;
}

.profile-pic {
  max-width: 33%;
  min-width: 96px;
  margin: 0em 0.75em 0.5em -1em;
  float: left;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  shape-outside: circle();
}

footer {
  width: 100%;
  background: rgb(218, 218, 218, 0.7);
  /* background-color: rgba(32, 34, 36, 0.75); */
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.26);

}

footer h3 {
  text-transform: uppercase;
  color: black;
}

#connect {
  color: rgba(235, 235, 235, 1);
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.link-item {
  /* display: inline-block; */
  /* width: 49.5%; */
  text-transform: uppercase;
}

#watermark {
  color: rgba(235, 175, 35, 1);
}

@media screen and (min-width: 801px) {
  .projects-container {
    /* width: 80%; */
  }
  /* .projects {
    border-radius: 0.5rem;
  } */

  .project-descriptions {
    /* order: 0; */
    /* min-width: 25px; */
  }
  #other-projects .projects {
    /* margin: 0.5rem 0; */
  }
}

@media screen and (min-width: 1001px) {
  main {
    max-width: 80vw;
    margin: auto;
  }

  .nav-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  #intro {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  #professional{
    /* order: 1; */
    /* box-shadow: none; */
    /* text-align: left; */
    flex: 1;
  }

  .event-tile {
    border-radius: 0.5rem;
  }

  .event-tile img {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .projects {
    border-radius: 0.5rem;
  }

  .project-img {
    /* flex: 1; */
    /* border-radius: 0.5rem; */
    /* border-top-left-radius: 0.5rem; */
    /* border-top-right-radius: 0.5rem; */
  }

  #other-projects .projects:first-child{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  #other-projects .projects:last-child{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  #personal {
    /* order: 0; */
    /* max-width: 17%; */
    /* box-shadow: inset -5px 0 5px rgba(0, 0, 0, 0.46); */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: all 200ms ease-in-out;
  }

  /* #intro {
    border-bottom-right-radius: 10px;
  } */
}
